@font-face {
	font-family: 'SupercellText-Bold';
	src: url("supercelltext_w_bd.eot");
	src: url("supercelltext_w_bd.eot") format('embedded-opentype'),
	url("supercelltext_w_bd.woff2") format('woff2'),
	url("supercelltext_w_bd.woff") format('woff'),
	url("supercelltext_w_bd.ttf") format('truetype');
}    
@font-face {
	font-family: 'SupercellText-Medium';
	src: url("supercelltext_w_md.eot");
	src: url("supercelltext_w_md.eot") format('embedded-opentype'),
	url("supercelltext_w_md.woff2") format('woff2'),
	url("supercelltext_w_md.woff") format('woff'),
	url("supercelltext_w_md.ttf") format('truetype');
}    
@font-face {
	font-family: 'SupercellText-Regular';
	src: url("supercelltext_w_rg.eot");
	src: url("supercelltext_w_rg.eot") format('embedded-opentype'),
	url("supercelltext_w_rg.woff2") format('woff2'),
	url("supercelltext_w_rg.woff") format('woff'),
	url("supercelltext_w_rg.ttf") format('truetype');
}    